html, body {
    height: 100%;
    width: 100%;
  
  }
  header {
    
    padding-top:10px;
    text-align:center;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  .Hero2 {
    margin:auto;
    font-size:18px;
    width:60%;
    opacity:0.5;
  }
  
  
  .price-parent{
    display:flex;
    flex-direction:row;
    padding-left:2.5%;
    
  }
  
  p.Hero2{
    padding-bottom: 100px;
  }
  .footer-parent {    /*controll the footer */
    display:flex;
    justify-content:space-evenly;
    height: 350px;
    margin-top: 10%;
    padding-top: 10%;
    background-color: #000000;
  }
  .about-me{      /* decrease the width of the text*/
    width:25%;
   
    
  }
  .news {
    
    
  }
  .news > h3{
    text-align:left;
    padding-top:3%;
    color: #fff;
  }
  .about-me h3{
    text-align:left;
    color: #fff;
  }
  .main-text{
    width:60%;
  }
  #form{
    background-color:#000000;
    width: 300px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  

  }
  input {
    all :unset;
    font:16px system-ui;
    color: #fff;
    height: 65.3%;
    width: 100%;
    padding: 6px 10px;
    border:1px solid white;
  }
  ::placeholder{
    color:#fff;
    opacity:0.7;
  }
  .button {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
    padding-left: 8px;
    background-color: rgb(0, 255, 106);
   
    font-size: 35px;
    color: #fff;
  }
  .about-me > p{
    color: #fff;
    opacity: 0.5;
    font-size: 19px;
  }
  .news > p{
    color: rgba(255, 255, 255, 0.943);
    opacity:0.5;
    font-size: 19px;

  }
  small{
    font-size: 18px;
  }
 .CW {
   color: #fff;
   background-color: #000000;
   height: 100px;
   padding-top: 7%;
   font-size: 18px;
   opacity: 0.5;
 }
  
  span{
    color: greenyellow;
    font-size: 20px;
  }
  .Travel {
    background-color:#4CAF50 ;
    color: white;
    border: none;
    padding: 8px 20px;
  }